.filter-wrapper {
  background: #e9edf1;
  min-height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px 10px;

  .heading {
    margin: 0 13px;
    font-weight: 300;
  }
}


.dropdown-select {
  min-width: 250px;
  margin: 0 10px;
}